/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    display: flex;
    background: #f4f6f9;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #111827;
    color: white;
    padding: 20px;
    position: fixed;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: #d1d5db;
    padding: 10px 0;
    text-decoration: none;
}

.sidebar a:hover {
    color: white;
}

/* MAIN CONTENT */
.main {
    margin-left: 240px;
    padding: 20px;
    width: 100%;
}

/* TITLE */
.page-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
}

/* TOP BUTTON */
.topbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.add-btn {
    background: #16a34a;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
}

/* CARDS */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* STATS */
.stats {
    display: flex;
    gap: 20px;
}

.stat-box {
    flex: 1;
    text-align: center;
}

/* CHART */
.chart-card {
    height: 300px;
}

/* SEARCH */
form input, form select {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 8px 15px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #111827;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* BUTTONS */
.btn {
    padding: 6px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.edit-btn {
    background: orange;
}

.delete-btn {
    background: red;
}

/* PAGINATION */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    background: #2563eb;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
    margin: 0 5px;
}

.pagination a:hover {
    background: #1e40af;
}